.wrap {
  margin: 8px 0;
  border-radius: var(--border-radius);
  background-color: var(--background-color-third);
  width: 100%;
  height: 8px;
}

.weak {
  background: linear-gradient(to right, var(--danger-color) 33%, var(--background-color-third) 33%);
}

.almost {
  background: linear-gradient(
    to right,
    var(--warning-color) 66%,
    var(--background-color-third) 66%
  );
}

.correct {
  background: var(--success-color);
}
