.wrap {
  display: flex;
  position: relative;
  align-items: center;
}

.input {
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  padding: 0 8px;
  width: 100%;
  height: 40px;
  color: var(--text-color-main);
  font-size: inherit;
  font-family: inherit;
}

.inputWithPrefixIcon {
  padding-left: 40px;
}

.inputWithSuffixIcon {
  padding-right: 40px;
}

.input::placeholder {
  color: var(--text-color-secondary);
}

.isError .input {
  border-color: var(--border-color-danger);
}

.icon {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.prefixIcon {
  left: 8px;
}

.suffixIcon {
  right: 8px;
}
