.registerDescription {
  margin: 0;
  margin-top: 16px;
  color: var(--text-color-secondary);
}

.recoveryWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
