.toggle {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0;
  box-shadow: var(--block-box-shadow);
  border: 1px solid var(--block-border-color);
  border-radius: 50px;
  background-color: var(--background-color-secondary);
  padding: 4px;
  width: 72px;
  height: 36px;
}

.toggle::before {
  position: absolute;
  left: 3px;
  transition: all ease-in-out 200ms;
  box-sizing: border-box;
  box-shadow: var(--block-box-shadow);
  border-radius: 50%;
  background-color: var(--background-color-switch);
  width: 26px;
  height: 26px;
  content: '';
}

.isDark::before {
  left: 41px;
}

.lightIcon {
  z-index: 1;
  color: var(--icon-color-sun);
}

.nightIcon {
  z-index: 1;
  color: var(--icon-color-moon);
}
