html {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  min-height: 100%;
  color: var(--text-color-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

#__next {
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
