html {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  height: 100%;
  color: var(--text-color-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

#__next {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent-color);
}

h1 {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 0;
}
