:root {
  --accent-color: #0162e8;

  --success-color: #15a34a;
  --warning-color: #ca8a05;
  --danger-color: #df0303;

  --background-color: #f9fafb;
  --background-color-secondary: #ffffff;
  --background-color-third: #d8dde5;
  --background-color-switch: #f9fafb;

  --border-radius: 8px;
  --border-color: #d1d5db;
  --border-color-danger: #df0303;

  --input-color-background: #f9fafb;
  --input-color-placeholder: #9ca3af;

  --text-color-main: #111827;
  --text-color-secondary: #6b7280;
  --text-color-danger: #df0303;

  --icon-color: #6b7280;
  --icon-color-sun: #eed606;
  --icon-color-moon: #585861;

  --button-text-color: #ffffff;
  --button-text-color-disabled: #cdc8c8;
  --button-color-hover: #1d4ed8;
  --button-color-disabled: #8e8e95;
  --button-shadow-color: #00a5ff;

  --link-color: #0162e8;

  --block-border-color: transparent;
  --block-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --accent-color: #2663eb;

  --success-color: #15a34a;
  --warning-color: #ca8a05;
  --danger-color: #ff5252;

  --background-color: #111827;
  --background-color-secondary: #1f2937;
  --background-color-third: #374151;
  --background-color-switch: #374151;

  --border-radius: 8px;
  --border-color: #4b5563;
  --border-color-danger: #ff5252;

  --input-color-background: #374151;
  --input-color-placeholder: #9ca3af;

  --text-color-main: #ffffff;
  --text-color-secondary: #9ca3af;
  --text-color-danger: #ff5252;

  --icon-color: #9ca3af;
  --icon-color-sun: #585861;
  --icon-color-moon: #6767e8;

  --button-text-color: #ffffff;
  --button-text-color-disabled: #efefef;
  --button-color-hover: #1d4ed8;
  --button-color-disabled: #9ca3af;
  --button-shadow-color: #00a5ff;

  --link-color: #6595ff;

  --block-border-color: #4b5563;
  --block-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
